{
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "allowImportExportEverywhere": true
    },
    "extends": [
        "plugin:prettier/recommended",
        "plugin:react-hooks/recommended",
        "prettier/standard",
        "prettier/react"
    ],
    "plugins": ["prettier", "jest", "react", "react-hooks"],
    "env": {
        "jest": true,
        "jest/globals": true
    },
    "rules": {
        "prettier/prettier": "error",
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn"
    }
}
