$primary-color: #5c739b;
$secondary-color: #c1c1c7;
$refresh-btn-height: 34px;

[class^='s-'] > div.display {
    padding-top: 0;
    padding-bottom: 0;
}

.display {
    &:hover {
        .refresh {
            visibility: visible;
            opacity: 1;
            transition: opacity 0.5s linear;
        }
    }
    .refresh {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 0.5s, opacity 0.5s linear;
        transition: opacity fade 0.3s;
        position: absolute;
        right: 0;
        padding: 8px 14px 4px 14px;
        box-sizing: border-box;
        height: $refresh-btn-height;
        background-color: var(--color-3);
        color: var(--color-1);
        border: 0;

        span {
            display: inline-block;
        }
    }

    .dynamic {
        overflow: hidden;
        border: 2px dashed var(--display-border-color);
        background-color: var(--display-bkg-color);
        padding: 20px;
        height: 100vh;
        max-width: 100%;
        resize: both;
        overflow: auto;
        box-sizing: border-box;
    }
}
