:root {
    --color-1: #cb997e;
    --color-2: #ffe8d6;
    --color-3: #b7b7a4;
    --color-4: #a5a58d;
    --color-5: #6b705c;

    --root-bkg-color: var(--color-2);
    --editor-border-color: var(--color-4);

    --bkg-color: var(--color-3);
    --font-color: var(--color-5);
    --bkg-color-hover: var(--color-2);
    --font-color-hover: var(--color-3);
    --active-bkg-color: var(--color-4);
    --active-font-color: var(--color-2);
    --active-bkg-color-hover: var(--color-1);
    --active-font-color-hover: var(--color-2);

    --renaming-border-color: var(--color-1);
    --renaming-color: var(--color-2);

    --close-btn-color: var(--color-4);
    --close-btn-color-hover: var(--color-2);

    --display-border-color: var(--color-4);
    --display-bkg-color: #e9e9e9;

    --error-msg-bkg-color: #e76f51;
    --error-msg-border-color: #ae2012;

    --invoking-msg-bkg-color: #f4a261;
    --invoking-msg-border-color: #ca6702;

    --rendering-msg-bkg-color: #94d2bd;
    --rendering-msg-border-color: #0a9396;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: var(--root-bkg-color);
}

.playground {
    .side-menu-container {
        flex-basis: var(--one-unit);
    }

    .display-container {
        flex-basis: calc(var(--one-unit) + (var(--two-units) * 5));
    }

    .active {
        background-color: var(--active-bkg-color);
        color: var(--active-font-color);

        &:hover {
            background-color: var(--active-bkg-color-hover);
            color: var(--active-font-color-hover);
        }
    }
}
.regular-checkbox {
    -webkit-appearance: none;
    background-color: var(--color-2);
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;

    &:active,
    &:checked:active {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    }

    &:checked {
        background-color: var(--color-3);
        border: 1px solid #adb8c0;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
            inset 15px 10px -12px rgba(255, 255, 255, 0.1);
        color: var(--color-2);
    }
    &:checked:after {
        content: '\2714';
        font-size: 14px;
        position: absolute;
        top: 0px;
        left: 3px;
        color: var(--color-2);
    }

    &.big {
        padding: 13px;
    }

    &.big:checked:after {
        font-size: 23px;
        left: 5px;
    }
}
