.errors-explained {
    .error-title {
    }
    .error-sub-title {
    }

    .error-stack {
        pre {
            white-space: pre-wrap;
            word-wrap: break-word;
            overflow-wrap: break-word;
        }
    }
}
