:root {
    --color-1: #cb997e;
    --color-2: #ddbea9;
    --color-3: #ffe8d6;
    --color-4: #b7b7a4;
    --color-5: #a5a58d;
    --color-6: #6b705c;

    --bkg-color: var(--color-3);
    --editor-border-color: var(--color-5);

    --tab-bkg-color: var(--color-4);
    --tab-color: var(--color-6);
    --tab-bkg-color-hover: var(--color-3);
    --tab-color-hover: var(--color-4);
    --active-tab-bkg-color: var(--color-5);
    --active-tab-color: var(--color-3);
    --active-tab-bkg-color-hover: var(--color-1);
    --active-tab-color-hover: var(--color-3);

    --renaming-tab-border-color: var(--color-1);
    --renaming-tab-color: var(--color-3);

    --close-btn-color: var(--color-5);
    --close-btn-color-hover: var(--color-3);

    --display-border-color: var(--color-5);
    --display-bkg-color: #e9e9e9;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: var(--bkg-color);
}

.regular-checkbox {
    -webkit-appearance: none;
    background-color: var(--color-3);
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;

    &:active,
    &:checked:active {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    }

    &:checked {
        background-color: var(--color-1);
        border: 1px solid #adb8c0;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
            inset 15px 10px -12px rgba(255, 255, 255, 0.1);
        color: var(--color-3);
    }
    &:checked:after {
        content: '\2714';
        font-size: 14px;
        position: absolute;
        top: 0px;
        left: 3px;
        color: #99a1a7;
    }

    &.big {
        padding: 13px;
    }

    &.big:checked:after {
        font-size: 23px;
        left: 5px;
    }
}
